html {
	width: 100%;
	height: 100%;
}
body {
	background-color: #bdc3c7;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 940px;
	margin: 0 auto;
	min-height: 100%;
}
.header {
	background-color: #27ae60;
}
.logo {
	padding: 21px 0 0 60px;
	display: inline-block;
}
.menu ul {
	list-style: none; /*убирает маркеры*/
}
.menu li {
	display: inline-block; /*чтобы всё было в линию*/
	padding-left: 16px;
}
.menu a{
	text-decoration: none; /*сбрасывает стьль ссылок*/
	font-size: 14px;
	color: #f9f9f9;
	font-family: LatoRegular;
}
.menu {
	float: right;
	padding: 34px 60px 0 0;
}
.menu a:hover {
	color: #000;
}
.top_text {
	padding: 120px 0 60px;
	text-align: center;
	color: #f9f9f9;
	font-size: 40px;
	text-transform: uppercase;
	font-family: LatoRegular;

}
.top_text span {
	font-family: LatoLight;
}
.btn {
	width: 234px;
	height: 38px;
	margin: 0 auto;
	padding-bottom: 80px;

}
.btn a{
	text-decoration: none;
	color: #f9f9f9;
	font-size: 17px;
	font-family: LatoRegular;
	background-color: #2ecc71;
	padding: 13px 67px;
	border-radius: 4px;
	
}
.btn a:hover{
	background-color: #33ec81;
}
.footer {
	background-color: #444;
	height: 89px;
	width: 940px;
	margin: -89px auto 0;
}
.footer-left {
	display: inline-block;
	padding-left: 60px;
}
.footer-left ul {
	list-style: none;
}
.footer-left li {
	display: inline-block;
}
.footer-right li {
	display: inline-block;
}
.footer-left a {
	color: #f9f9f9;
	font-family: "LatoLight";
	font-size: 9px;
	text-decoration: none;
	line-height: 89px;
	padding-right: 13px;
}
.footer-right {
	float: right;
	padding-right: 60px;
	line-height: 89px;
	color: #f9f9f9;
	font-family: "LatoLight";
	font-size: 12px;
}
.footer-left i {
	padding-right: 11px;
	font-size: 12px;
}
.box {
	height: 89px;
}
.content {
	background-color: #f9f9f9;
}
.content_home {
	text-align: center;
	font-family: LatoRegular;
}
.home_text_1 {
	color: #444;
	font-size: 25px;
	padding: 77px 0 16px;
}
.home_text_2 {
	padding: 16px 0 79px;
	color: #444;
	font-size: 12px;
	width: 350px;
	margin: 0 auto;
}
.home_text_3 {
	color: #7f8c8d;
	font-size: 25px;
	padding-bottom: 16px;
}
.work img {
	padding: 11px;
}
.partners {
	padding: 0 0 80px 0;
}
.partners ul{
	list-style: none;
}
.partners li {
	display: inline-block;
	padding: 0 30px;
	vertical-align: top;
}
.btn_home {
	padding: 57px 0 135px;
}
.btn_home a {
	border: 2px solid #989a9a;
	border-radius: 10px;
	padding: 13px 84px;
	text-decoration: none;
	color: #34495e;
}
.btn_home a:hover {
	background-color: #989a9a;
	color: #fff;
}
.home_text_4 {
	color: #7f8c8d;
	font-size: 25px;
	padding: 0 0 50px 0;
}
.info_about {
	text-align: center;
}
.first_text {
	color: #444;
	font-size: 25px;
	padding: 77px 0 35px;
	font-family: "LatoRegular";
}
.second_text {
	margin: 0 auto;
	color: #444;
	font-size: 14px;
	padding-top: 30px;
	padding-bottom: 85px;
	width: 606px;
	text-align: left;
	line-height: 1.4;
	font-family: LatoLight;
}
.third_text {
	color: #444;
	font-size: 25px;
	padding: 0 0 35px;
	font-family: LatoRegular;
}
.about_items {
	text-align: center;
	font-family: LatoRegular;
}
.about_items h3{
	color: #444;
	font-size: 25px;
}
.tools {
	padding: 42px 0 116px;
}
.item {
	display: inline-block;
	margin: 0 12px 0 12px;
	position: relative;
	width: 133px;
	height: 133px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 50%;
}
.description {
	color: #fff;
	font-size: 20px;
	background-color: rgba(149,165,166,.8);
	border: 8px solid rgba(39,174,97,.8);
	width: 117px;
	height: 117px;
	border-radius: 50%;
	line-height: 117px;
	position: absolute;
	top: 133px;
	transition: all .3s ease;
}
.item:hover .description {
	top: 0;
}
.size_description .description {
	font-size: 15px;
}
#btn_1 {
	padding-bottom: 60px;
}
.text_contact_1 {
	color: #444;
	font-size: 25px;
	padding: 55px 0 55px;
	font-family: LatoRegular;
	text-align: center;
}
.text_contact_2 {
	margin: 0 auto;
	color: #444;
	font-size: 14px;
	padding-bottom: 70px;
	width: 606px;
	text-align: left;
	line-height: 1.4;
	font-family: LatoLight;
}
.map {
	text-align: center;
	padding: 67px 0 0 0;
}
.box_form {
	padding-left: 160px;
}
input[type="text"], input[type="e-mail"] {
	width: 410px;
	padding-left: 10px;
	line-height: 45px;
	font-size: 16px;
	font-family: "LatoLight";
	margin-bottom: 18px;
}
textarea[name="message"] {
	width: 410px;
	padding-left: 10px;
	height: 220px;
	padding-top: 10px;
	font-family: "LatoLight";
	margin-bottom: 18px;
}
input[type="submit"] {
	color: #fff;
	font-size: 9px;
	font-family: "LatoBold";
	background-color: #95a5a6;
	border: none;
	border-radius: 2px;
	padding: 6px 28px;
	cursor: pointer;
	margin: 18px 0 70px;
}
.form {
	width: 440px;
	float: left;
}
.contact_info {
	width: 180px;
	float: left;
}
.box_form:after{
	content: "";
	clear: both;
	display: block;
}
.info_head {
	color: #444;
	font-size: 17px;
	font-family: "LatoRegular";
}
.info {
	color: #444;
	font-size: 14px;
	font-family: "LatoRegular";
	padding-top: 28px;
	line-height: 1.4;
}
/*.work_portfolio {
	text-align: left;
	padding: 52px 140px;
}
.picture {
	display: inline-block;
	text-align: center;
	margin: 10px 10px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.active {
	font-size: 20px;
	font-family: "LatoRegular";
	color: #fff;
	background-color: rgba(149,165,166,.9);
	width: 260px;
	height: 153px;
	text-align: left;
	margin: 0 auto;
	text-align: center;
	line-height: 153px;
	position: absolute;
	top: 240px;
	left: 133px;
}
.picture:hover .active {
	top: 20px;
	left: 20px;
}*/
.pictures_1 {
	padding: 52px 140px;
}
.kartinki {
	display: inline-block;
	margin: 10px 10px;
	text-align: center;
	font-size: 20px;
	font-family: "LatoRegular";
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.kvadrat {
	padding-top: 53px;
}
.small_text {
	font-size: 10px;
	font-family: "LatoRegular";
	padding-top: 5px;
}
.polosa {
	height: 1px;
	width: 70px;
	background-color: #fff;
	margin: 7px auto 0;
}
.everything {
	width: 260px;
	height: 153px;
	background-color: rgba(149,165,166,.9);
	margin: 0 auto;
	position: absolute;
	top: 240px;
	left: 133px;
	color: #fff;
	transition: all .3s ease;
}
.kartinki:hover .everything {
	top: 20px;
	left: 20px;
}